body{
    background:url(back_1.jpeg);
    background-size:cover;
    background-repeat:no-repeat;
    /* font-weight: 20px;
    font: ; */
} 

p{
    font-size: 15px;
    margin-top: 40px;
    text-align: justify;
    padding-left: 5rem;
    padding-right: 5rem;

}

.pho{
    display: flex;
   flex-wrap: wrap;
   padding: 0 4px;
}

.pho img {
    margin-top: 8px;
    width: 100%;
    padding: 10px;
 }
.d1{
    width: 300px;
}